/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --text-color: #333;
  --background-color: #f8f9fa;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.table-header {
  background-color: var(--primary-color);
  color: #fff;
}

.table-row:hover {
  background-color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* components/Navbar.module.css */
.navbar {
  background-color: var(--primary-color);
  padding: 1rem;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-right: 1rem;
}

.navList a {
  color: white;
  text-decoration: none;
}

.navList a:hover {
  text-decoration: underline;
}

